@model OnlineLibraryManagement.Models.Docgia
@{
    ViewData["Title"] = "Sửa tài khoản";
    Layout = "~/Views/Shared/_ReaderLayout.cshtml";
}

<div class="row pt-4 pb-4 mt-5 ms-auto me-auto rounded-3 shadow bg-light" style="width:25em">
    <div class="col-1"></div>
    <div class="col">
        <h3 class="text-center mb-4">Chỉnh sửa thông tin</h3>
        <form asp-action="suaTaikhoan" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden asp-for="Madocgia" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MatkNavigation.Tentk" class="control-label"></label>
                <input readonly asp-for="MatkNavigation.Tentk" class="form-control" />
            </div>  
            <div class="form-group mt-3">
                <label asp-for="Tendocgia" class="control-label"></label>
                <input asp-for="Tendocgia" class="form-control" />
                <span asp-validation-for="Tendocgia" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Ngaysinh" class="control-label"></label>
                <input type="date" asp-for="Ngaysinh" class="form-control" />
                <span asp-validation-for="Ngaysinh" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="MatkNavigation.Email" class="control-label"></label>
                <input asp-for="MatkNavigation.Email" class="form-control" />
                <span asp-validation-for="MatkNavigation.Email" class="text-danger"></span>
            </div> 
                <input type="hidden" asp-for="Matk" class="form-control" />
            <br />
            <div class="form-group text-center">
                <input type="submit" value="Lưu" class="btn btn-primary me-2" />
                <a asp-action="Taikhoan" class="btn btn-danger">Hủy</a>
            </div>
        </form>
    </div>
    <div class="col-1"></div>
</div>

