@model OnlineLibraryManagement.Models.Docgia
@{
    ViewData["Title"] = "frmSuaTaikhoan";
    Layout = "~/Views/Shared/_ReaderLayout.cshtml";
}

<h1>Sửa thông tin tài khoản</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="suaTaikhoan" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden asp-for="Madocgia" class="form-control" />
            </div>
            @* <div class="form-group">
                <input hidden type="password" asp-for="MatkNavigation.Matkhau" class="form-control" />
            </div>
            <div class="form-group">
                <input hidden asp-for="MatkNavigation.Matk" class="form-control" />
            </div>
            <div class="form-group">
                <input hidden asp-for="MatkNavigation.Loaitk" class="form-control" />
            </div> *@
            <div class="form-group">
                <label asp-for="MatkNavigation.Tentk" class="control-label"></label>
                <input readonly asp-for="MatkNavigation.Tentk" class="form-control" />
            </div>  
            <div class="form-group">
                <label asp-for="Tendocgia" class="control-label"></label>
                <input asp-for="Tendocgia" class="form-control" />
                <span asp-validation-for="Tendocgia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaysinh" class="control-label"></label>
                <input type="date" asp-for="Ngaysinh" class="form-control" />
                <span asp-validation-for="Ngaysinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatkNavigation.Email" class="control-label"></label>
                <input asp-for="MatkNavigation.Email" class="form-control" />
                <span asp-validation-for="MatkNavigation.Email" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <input type="hidden" asp-for="Matk" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

