html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-item {
    transition: transform 0.3s ease;
}

.nav-item:hover {
    transform: scale(1.1);
}