@model OnlineLibraryManagement.Models.Taikhoan

@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row pt-4 pb-4 ms-auto me-auto rounded-3 shadow bg-light" style="width:25em; margin-top:6rem">
    <div class="col-1"></div>
    <div class="col">
        <h2 class="text-center mb-4">Đăng nhập</h2>
        <form asp-action="loginMethod" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tentk" class="control-label"></label>
                <input asp-for="Tentk" class="form-control" />
                <span asp-validation-for="Tentk" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Matkhau" class="control-label"></label>
                <input asp-for="Matkhau" class="form-control" />
                <span asp-validation-for="Matkhau" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group text-center">
                <input type="submit" value="Đăng nhập" class="btn btn-success" />
            </div>
        </form>
		<div class="text-center mt-3">Chưa có tài khoản? <a asp-action="Signup">Đăng ký ngay</a></div>
	</div>
    <div class="col-1"></div>
</div>

